body
{
	background-image:
url("wallpaper/education.jpg");
}

h2
{
font-family: arial black;
color: #4E2B67;
font-size: 1cm;
background-color: #FFE4C4;
}

h3
{
text-align: center;
color: purple
}

ul.b
{
list-style-type: square;
list-style-position: center;
}
	
td
{
text-align: center;
background-color:#D75983;
color: white;
}